In [2]:
import pandas as pd

# Pandas 실습3


2. 데이터 변환(transformation) <br>
: 데이터프레임의 차원이나 구조를 변경하는 함수
    
    
3. 데이터 합치기(merge) <br>
: 두 개 이상의 Series 혹은 DataFrame을 합쳐서 새로운 데이터프레임을 생성

In [103]:
snp_comps = pd.read_csv('./data/sp500_companies.csv')
snp_price = pd.read_csv('./data/sp500_index.csv')
snp_stocks = pd.read_csv('./data/sp500_stocks.csv')

# 데이터 변환

## Transpose

In [ ]:
snp_comps.T

In [ ]:
snp_comps.transpose()

## stack / unstack
- index를 기준으로 데이터를 피봇하는 함수
- stack: 각 행의 가로 형태 Series를 세로 형태의 Series로 변환. 컬럼을 2nd index(level 1)로 추가하여 multiindex dataframe을 반환
- unstack: stack의 반대. 
    - Multiindex의 Dataframe의 경우, 특정 index을 기준으로 세로 형태의 Series를 가로 형태로 변환하여, 해당 index의 데이터가 컬럼으로 변환
    - (사용X) Single index의 경우, 해당 index가 2nd index로 설정되고 컬럼이 1st index로 설정되어 multiindex dataframe가 반환됨

In [116]:
# stack

In [150]:
snp_comps_t

In [151]:
stacked_snp_cmps = snp_comps.stack(level=-1, dropna=True)

In [120]:
# unstack

In [124]:
snp_stocks = snp_stocks.sort_values('Date')
snp_stocks = snp_stocks.set_index(['Date', 'Symbol'])

In [140]:
snp_stocks['Adj Close'].unstack(level=-1)

Symbol,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACGL,ACN,...,WYNN,XEL,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2010-01-04,20.434929,4.496876,38.432693,6.572423,NaN,22.101795,8.740000,19.778837,7.994444,32.970871,...,41.963718,13.932555,43.185623,32.782581,NaN,19.900911,53.282867,28.670000,11.580979,NaN
2010-01-05,20.212959,5.005957,38.204258,6.583786,NaN,21.944103,8.530000,19.619041,7.967778,33.174648,...,44.515926,13.767320,43.354244,32.392876,NaN,19.832848,54.969589,28.620001,11.989312,NaN
2010-01-06,20.141132,4.798555,38.537392,6.479064,NaN,21.736616,8.400000,19.727999,7.933333,33.527321,...,43.932011,13.793758,43.728970,32.606281,NaN,19.691063,54.951843,28.400000,13.031859,NaN
2010-01-07,20.115025,4.939965,38.527885,6.467087,NaN,21.388039,8.400000,19.891426,7.886667,33.495968,...,44.870213,13.734278,43.591564,33.033108,NaN,19.685392,56.212440,27.690001,14.491426,NaN
2010-01-08,20.108498,4.845690,38.680153,6.510081,NaN,21.620419,8.230000,19.993120,7.871111,33.362751,...,44.548744,13.740885,43.416687,33.033108,NaN,19.691063,55.031742,27.600000,14.256856,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-10-27,136.490005,13.970000,188.080002,144.800003,153.500000,155.899994,267.579987,96.930000,51.689999,278.839996,...,55.790001,63.250000,107.550003,30.510000,100.550003,113.910004,111.559998,275.290009,50.380001,151.139999
2022-10-28,138.770004,14.000000,190.669998,155.740005,147.610001,159.309998,258.059998,99.489998,56.680000,287.779999,...,58.299999,65.370003,110.699997,30.860001,102.519997,117.879997,113.470001,288.000000,51.540001,153.279999
2022-10-31,138.350006,14.180000,189.919998,153.339996,146.399994,157.220001,252.080002,98.940002,57.500000,283.899994,...,63.900002,65.110001,110.809998,30.820000,102.430000,118.250000,113.349998,283.220001,51.939999,150.779999
2022-11-01,140.889999,14.110000,189.279999,150.649994,146.910004,156.320007,377.820007,99.309998,55.439999,281.470001,...,67.860001,65.900002,111.910004,31.000000,105.540001,118.150002,111.839996,238.300003,51.610001,152.720001
2022-11-02,135.270004,13.580000,186.889999,145.029999,144.520004,154.809998,373.510010,98.040001,56.220001,272.450012,...,67.129997,65.309998,109.610001,28.180000,104.269997,117.370003,107.690002,236.029999,49.490002,147.360001

## pivot / pivot_table
- pivot: 데이터 구조를 피봇. unstack을 사용하는 것과 동일. multiindex를 설정할 수 없음
- pivot_table: pivot과 동일한 기능 + values를 집계하는 기능. multiindex 설정 가능

In [142]:
snp_stocks = snp_stocks.reset_index()

In [143]:
snp_stocks.pivot(index='Date', columns='Symbol', values='Adj Close')

Symbol,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACGL,ACN,...,WYNN,XEL,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2010-01-04,20.434929,4.496876,38.432693,6.572423,NaN,22.101795,8.740000,19.778837,7.994444,32.970871,...,41.963718,13.932555,43.185623,32.782581,NaN,19.900911,53.282867,28.670000,11.580979,NaN
2010-01-05,20.212959,5.005957,38.204258,6.583786,NaN,21.944103,8.530000,19.619041,7.967778,33.174648,...,44.515926,13.767320,43.354244,32.392876,NaN,19.832848,54.969589,28.620001,11.989312,NaN
2010-01-06,20.141132,4.798555,38.537392,6.479064,NaN,21.736616,8.400000,19.727999,7.933333,33.527321,...,43.932011,13.793758,43.728970,32.606281,NaN,19.691063,54.951843,28.400000,13.031859,NaN
2010-01-07,20.115025,4.939965,38.527885,6.467087,NaN,21.388039,8.400000,19.891426,7.886667,33.495968,...,44.870213,13.734278,43.591564,33.033108,NaN,19.685392,56.212440,27.690001,14.491426,NaN
2010-01-08,20.108498,4.845690,38.680153,6.510081,NaN,21.620419,8.230000,19.993120,7.871111,33.362751,...,44.548744,13.740885,43.416687,33.033108,NaN,19.691063,55.031742,27.600000,14.256856,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-10-27,136.490005,13.970000,188.080002,144.800003,153.500000,155.899994,267.579987,96.930000,51.689999,278.839996,...,55.790001,63.250000,107.550003,30.510000,100.550003,113.910004,111.559998,275.290009,50.380001,151.139999
2022-10-28,138.770004,14.000000,190.669998,155.740005,147.610001,159.309998,258.059998,99.489998,56.680000,287.779999,...,58.299999,65.370003,110.699997,30.860001,102.519997,117.879997,113.470001,288.000000,51.540001,153.279999
2022-10-31,138.350006,14.180000,189.919998,153.339996,146.399994,157.220001,252.080002,98.940002,57.500000,283.899994,...,63.900002,65.110001,110.809998,30.820000,102.430000,118.250000,113.349998,283.220001,51.939999,150.779999
2022-11-01,140.889999,14.110000,189.279999,150.649994,146.910004,156.320007,377.820007,99.309998,55.439999,281.470001,...,67.860001,65.900002,111.910004,31.000000,105.540001,118.150002,111.839996,238.300003,51.610001,152.720001
2022-11-02,135.270004,13.580000,186.889999,145.029999,144.520004,154.809998,373.510010,98.040001,56.220001,272.450012,...,67.129997,65.309998,109.610001,28.180000,104.269997,117.370003,107.690002,236.029999,49.490002,147.360001

In [153]:
snp_comps = snp_comps.reset_index()

In [161]:
snp_comps.pivot_table(index='Country', columns='Sector', values='Weight')

Sector,Basic Materials,Communication Services,Consumer Cyclical,Consumer Defensive,Energy,Financial Services,Healthcare,Industrials,Real Estate,Technology,Utilities
Country,,,,,,,,,,,
Bermuda,NaN,NaN,NaN,NaN,NaN,0.000501,NaN,NaN,NaN,NaN,NaN
Ireland,NaN,NaN,0.000714,NaN,NaN,0.001729,0.001975,0.001104,NaN,0.002737,NaN
Israel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000342,NaN
Netherlands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.001183,NaN
Switzerland,NaN,NaN,0.000483,NaN,NaN,0.002716,NaN,NaN,NaN,0.000799,NaN
United Kingdom,0.004518,NaN,NaN,NaN,NaN,NaN,NaN,0.000200,NaN,NaN,NaN
United States,0.000906,0.004723,0.001645,0.002273,0.002346,0.001954,0.002317,0.001244,0.000791,0.003354,0.000967

In [168]:
snp_comps.pivot_table(index='Country', columns='Sector', values='Weight', aggfunc='sum')

Sector,Basic Materials,Communication Services,Consumer Cyclical,Consumer Defensive,Energy,Financial Services,Healthcare,Industrials,Real Estate,Technology,Utilities
Country,,,,,,,,,,,
Bermuda,NaN,NaN,NaN,NaN,NaN,0.001001,NaN,NaN,NaN,NaN,NaN
Ireland,NaN,NaN,0.000714,NaN,NaN,0.001729,0.003951,0.004415,NaN,0.005475,NaN
Israel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000342,NaN
Netherlands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.001183,NaN
Switzerland,NaN,NaN,0.000483,NaN,NaN,0.002716,NaN,NaN,NaN,0.001597,NaN
United Kingdom,0.004518,NaN,NaN,NaN,NaN,NaN,NaN,0.000200,NaN,NaN,NaN
United States,0.018118,0.103914,0.090449,0.081824,0.053957,0.125027,0.143684,0.083368,0.025306,0.217991,0.028036

In [165]:
snp_comps.pivot_table(index=['Country', 'Exchange'], columns='Sector', values=['Weight', 'Marketcap'])

                              Marketcap                         \
Sector                  Basic Materials Communication Services
Country        Exchange
Bermuda        NMS                  NaN                    NaN
               NYQ                  NaN                    NaN
Ireland        NMS                  NaN                    NaN
               NYQ                  NaN                    NaN
Israel         NMS                  NaN                    NaN
Netherlands    NMS                  NaN                    NaN
Switzerland    NYQ                  NaN                    NaN
United Kingdom NYQ         1.508654e+11                    NaN
United States  BTS                  NaN                    NaN
               NGM                  NaN                    NaN
               NMS                  NaN           1.962808e+11
               NYQ         3.025166e+10           7.512109e+10

                                                                            \
Sector                  Consumer Cyclical Consumer Defensive        Energy
Country        Exchange
Bermuda        NMS                    NaN                NaN           NaN
               NYQ                    NaN                NaN           NaN
Ireland        NMS                    NaN                NaN           NaN
               NYQ           2.384210e+10                NaN           NaN
Israel         NMS                    NaN                NaN           NaN
Netherlands    NMS                    NaN                NaN           NaN
Switzerland    NYQ           1.614098e+10                NaN           NaN
United Kingdom NYQ                    NaN                NaN           NaN
United States  BTS                    NaN                NaN           NaN
               NGM                    NaN                NaN           NaN
               NMS           9.537930e+10       9.196280e+10  2.344023e+10
               NYQ           3.831643e+10       7.131014e+10  8.657529e+10

                                                                        \
Sector                  Financial Services    Healthcare   Industrials
Country        Exchange
Bermuda        NMS            2.076328e+10           NaN           NaN
               NYQ            1.267170e+10           NaN           NaN
Ireland        NMS                     NaN           NaN           NaN
               NYQ            5.773887e+10  6.596759e+10  3.685435e+10
Israel         NMS                     NaN           NaN           NaN
Netherlands    NMS                     NaN           NaN           NaN
Switzerland    NYQ            9.068821e+10           NaN           NaN
United Kingdom NYQ                     NaN           NaN  6.683656e+09
United States  BTS            1.337442e+10           NaN           NaN
               NGM                     NaN           NaN           NaN
               NMS            2.535863e+10  4.201826e+10  3.709650e+10
               NYQ            7.664132e+10  9.301793e+10  4.294929e+10

                                                     ...  \
Sector                    Real Estate    Technology  ...
Country        Exchange                              ...
Bermuda        NMS                NaN           NaN  ...
               NYQ                NaN           NaN  ...
Ireland        NMS                NaN  1.101826e+10  ...
               NYQ                NaN  1.718037e+11  ...
Israel         NMS                NaN  1.142719e+10  ...
Netherlands    NMS                NaN  3.952030e+10  ...
Switzerland    NYQ                NaN  2.666959e+10  ...
United Kingdom NYQ                NaN           NaN  ...
United States  BTS                NaN           NaN  ...
               NGM                NaN  3.905702e+10  ...
               NMS       2.662605e+10  1.555449e+11  ...
               NYQ       2.636779e+10  4.244254e+10  ...

                                        Weight                    \
Sector                  Communication Services Consumer Cyclical
Country        Exchange
Bermuda        NMS                         NaN               NaN
               NYQ                         NaN               NaN
Ireland        NMS                         NaN               NaN
               NYQ                         NaN          0.000714
Israel         NMS                         NaN               NaN
Netherlands    NMS                         NaN               NaN
Switzerland    NYQ                         NaN          0.000483
United Kingdom NYQ                         NaN               NaN
United States  BTS                         NaN               NaN
               NGM                         NaN               NaN
               NMS                    0.005878          0.002856
               NYQ                    0.002250          0.001147

                                                                         \
Sector                  Consumer Defensive    Energy Financial Services
Country        Exchange
Bermuda        NMS                     NaN       NaN           0.000622
               NYQ                     NaN       NaN           0.000379
Ireland        NMS                     NaN       NaN                NaN
               NYQ                     NaN       NaN           0.001729
Israel         NMS                     NaN       NaN                NaN
Netherlands    NMS                     NaN       NaN                NaN
Switzerland    NYQ                     NaN       NaN           0.002716
United Kingdom NYQ                     NaN       NaN                NaN
United States  BTS                     NaN       NaN           0.000401
               NGM                     NaN       NaN                NaN
               NMS                0.002754  0.000702           0.000759
               NYQ                0.002135  0.002593           0.002295

                                                                       \
Sector                  Healthcare Industrials Real Estate Technology
Country        Exchange
Bermuda        NMS             NaN         NaN         NaN        NaN
               NYQ             NaN         NaN         NaN        NaN
Ireland        NMS             NaN         NaN         NaN   0.000330
               NYQ        0.001975    0.001104         NaN   0.005145
Israel         NMS             NaN         NaN         NaN   0.000342
Netherlands    NMS             NaN         NaN         NaN   0.001183
Switzerland    NYQ             NaN         NaN         NaN   0.000799
United Kingdom NYQ             NaN    0.000200         NaN        NaN
United States  BTS             NaN         NaN         NaN        NaN
               NGM             NaN         NaN         NaN   0.001170
               NMS        0.001258    0.001111    0.000797   0.004658
               NYQ        0.002786    0.001286    0.000790   0.001271


Sector                  Utilities
Country        Exchange
Bermuda        NMS            NaN
               NYQ            NaN
Ireland        NMS            NaN
               NYQ            NaN
Israel         NMS            NaN
Netherlands    NMS            NaN
Switzerland    NYQ            NaN
United Kingdom NYQ            NaN
United States  BTS            NaN
               NGM            NaN
               NMS       0.000979
               NYQ       0.000965

[12 rows x 22 columns]

## droplevel
- 특정 index를 제거

In [174]:
snp_comps.set_index(['Sector', 'Symbol']).droplevel(-1)

,Exchange,Shortname,Longname,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
Sector,,,,,,,,,,,,,,
Technology,NMS,Apple Inc.,Apple Inc.,Consumer Electronics,145.03,2307151626240,1.305410e+11,0.081,Cupertino,CA,United States,164000.0,"Apple Inc. designs, manufactures, and markets ...",0.069090
Technology,NMS,Microsoft Corporation,Microsoft Corporation,Software—Infrastructure,220.10,1652506361856,9.798300e+10,0.124,Redmond,WA,United States,221000.0,"Microsoft Corporation develops, licenses, and ...",0.049486
Communication Services,NMS,Alphabet Inc.,Alphabet Inc.,Internet Content & Information,86.97,1126496337920,9.373300e+10,0.061,Mountain View,CA,United States,186779.0,Alphabet Inc. provides various products and pl...,0.033734
Communication Services,NMS,Alphabet Inc.,Alphabet Inc.,Internet Content & Information,87.07,1125998002176,9.373300e+10,0.061,Mountain View,CA,United States,186779.0,Alphabet Inc. provides various products and pl...,0.033719
Consumer Cyclical,NMS,"Amazon.com, Inc.","Amazon.com, Inc.",Internet Retail,92.12,939780669440,5.154900e+10,0.147,Seattle,WA,United States,1544000.0,"Amazon.com, Inc. engages in the retail sale of...",0.028143
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Healthcare,NMS,DENTSPLY SIRONA Inc.,DENTSPLY SIRONA Inc.,Medical Instruments & Supplies,28.18,6160345600,9.170000e+08,-0.060,Charlotte,NC,United States,15000.0,DENTSPLY SIRONA Inc. manufactures and sells va...,0.000184
Consumer Cyclical,NYQ,"Mohawk Industries, Inc.","Mohawk Industries, Inc.","Furnishings, Fixtures & Appliances",90.47,6127750144,1.888004e+09,0.067,Calhoun,GA,United States,43000.0,"Mohawk Industries, Inc. designs, manufactures,...",0.000184
Industrials,NYQ,"Alaska Air Group, Inc.","Alaska Air Group, Inc.",Airlines,43.56,5524889088,1.073000e+09,0.448,Seattle,WA,United States,22354.0,"Alaska Air Group, Inc., through its subsidiari...",0.000165
Consumer Defensive,NMS,Newell Brands Inc.,Newell Brands Inc.,Household & Personal Products,12.86,5470643712,1.390000e+09,-0.065,Atlanta,GA,United States,32000.0,"Newell Brands Inc. designs, manufactures, sour...",0.000164
Real Estate,NYQ,Vornado Realty Trust,Vornado Realty Trust,REIT—Office,22.84,4377993728,8.103430e+08,0.163,New York,NY,United States,3224.0,Vornado's portfolio is concentrated in the nat...,0.000131

## squeeze
- 단일 row, column은 Series로 변환하고, 단일 셀은 스칼라로 변환
- numpy나 tensorflow에서도 있는 함수
- 인풋값에 대한 구조를 모를떄(DataFrame인지 Serires인지 모를때), 해당 값을 하나 아래 tpye으로 변환하는 함수

In [1]:
snp_comps[['Symbol']].squeeze()

NameError: name 'snp_comps' is not defined

In [191]:
snp_comps.loc[0, ['Symbol']].squeeze()

'AAPL'